doctype html
head
  link(rel='stylesheet' href='styles.css')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
.header
  i.fab.fa-youtube
  input(type='text' placeholder='search ')
  .header-menu
    span.header-menu__text-first JOIN
    span.header-menu__text-second LOG IN